.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    margin-top: 10px;
    display: grid;
    grid-gap: 90px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "contenido sidebar";
    

}

.contenedor > div,
.contenedor .contenido,
.contenedor .sidebar{
    
    padding: 20px;
    border-radius: 20px;
    border-radius: 5px;
    background-color: rgba(131, 131, 131, 0.123);
    box-shadow: 14px 14px 20px 0 rgb(110 110 110 / 30%);
}
.contenedor .contenido{
    /*grid-column: span 2;*/
    grid-area: contenido;
    justify-content: center;
   
    
}

.contenedor .sidebar{
    width: 500px;
    grid-column: 3 / 4;
    text-align: center;
    display: inline-block;
    align-items: center;
    height: auto;
    /*grid-row: span 2;*/
    grid-area: sidebar;
}

  

.buton1{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(255, 238, 0);
    justify-content: space-between;   
}

.buton2{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(255, 153, 0);
    justify-content: space-between;   
}

.buton3{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(0, 174, 255);
    justify-content: space-between;   
}

.buton4{
    display: inline-block;
    color: aliceblue;
    margin-left: 10px;
    margin-bottom: 5px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,136,162,1) 50%, rgba(255,248,0,1) 100%);
    justify-content: space-between;   
}

.buton5{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(0, 110, 255);
    justify-content: space-between;   
}

.buton6{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(188, 200, 214);
    justify-content: space-between;   
}

.buton7{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(79, 144, 218);
    justify-content: space-between;   
}

.buton8{
    color: aliceblue;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(34, 41, 49);
    justify-content: space-between;   
}

.buton9{
    color: black;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background: rgb(0,136,162);
    background: linear-gradient(90deg, rgba(0,136,162,1) 50%, rgba(255,255,255,0.865983893557423) 66%);
    justify-content: space-between;   
}

.buton10{
    color: aliceblue;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(4, 217, 255);
    justify-content: space-between;   
}

.buton11{
    color: aliceblue;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(196, 4, 255);
    justify-content: space-between;   
}

.buton12{
    color: aliceblue;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(4, 163, 255);
    justify-content: space-between;   
}

@media screen and (min-device-width : 320px) and (max-width: 480px){
    .contenedor{
        width: 100%;
        margin-top: 360px;
        grid-template-areas: "contenido contenido"
        "sidebar sidebar";
        
    }
    .contenedor .sidebar{
        width: 100%;
    }
}

@media screen and (min-device-width : 481px) and (max-width: 768px) {
    .contenedor{
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        grid-template-areas: "contenido contenido"
        "sidebar sidebar";
        align-items: center;
        
    }
    .contenedor .sidebar{
        width: 100%;
    }
}