.Carousel1{
    width:60rem;
    height: 30rem;
    margin-top: 25px;
    margin-left: 125px;
}

.d-block{
    width: 60rem;
    height: 30rem;
}

.title{
   color: black;
   text-align: center;
   color: white;
   text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 30, 0), 0 0 5px rgb(139, 9, 0);
}

.div-carousel{
    background-color: rgb(0, 0, 0);
    width: 300px;
    margin-left: 125px;
    height: auto;
    box-shadow: 14px 14px 20px 0 rgb(110 110 110 / 30%);

    

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .Carousel1{
        width: auto;
        margin: auto;
        height: auto;
    }
    .d-block{
        width: 100%;
        height: 350px;
    }
    
    .title{
       color: black;
       text-align: center;
       color: white;
       text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 30, 0), 0 0 5px rgb(139, 9, 0);
    }
    .div-carousel{
        background-color: rgb(0, 0, 0);
        width: auto;
        margin:auto;
        height: auto;
        box-shadow: 14px 14px 20px 0 rgb(110 110 110 / 30%);
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 481px) and (max-device-width : 768px){
    .Carousel1{
        width:100%;
        margin: auto;
        height: 100%;
    } 
    .d-block{
        width: 100%;
        height: 420px;
    }
    .title{
        color: black;
        text-align: center;
        color: white;
        margin-top: 10px;
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 30, 0), 0 0 5px rgb(139, 9, 0);
     }
     .div-carousel{
        background-color: rgb(0, 0, 0);
        width: auto;
        margin:auto;
        height: auto;
        box-shadow: 14px 14px 20px 0 rgb(110 110 110 / 30%);
    }
}

@media only screen
and (min-device-width : 769px) and (max-device-width : 1024px){
    .Carousel1{
        width:100%;
        margin: auto;
        height: 100%;
    }  
    .d-block{
        width: 100%;
        height: 420px;
    }
    .title{
        color: black;
        text-align: center;
        color: white;
        margin-top: 10px;
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 30, 0), 0 0 5px rgb(139, 9, 0);
     }
     .div-carousel{
        background-color: rgb(0, 0, 0);
        width: auto;
        margin:auto;
        height: auto;
        box-shadow: 14px 14px 20px 0 rgb(110 110 110 / 30%);
    }
}
    
